.space {
    visibility: hidden;
    display: inline-block;
}

.json-format {
    background: #25292c;
    padding: 25px;
    color: #fff;
    max-height: 50vh;
    overflow: auto;
}

.grid-format {
    display: grid;
    padding: 25px;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.grid-format img {
    width: 100%;
}