.card {
    padding: 25px;
    background: #0000;
    border: 0;
    cursor: pointer;
    transition: 0.5s;
}

.card:focus, .card:hover {
    transform: scale(1.1);
}

.btn-favorite {
    cursor: pointer;
    position: relative;
    z-index: 1;
    padding: 5px;
    margin: auto;
    display: block;
}