.details {
    padding: 25px;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr;
}

.details__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 25px;
    padding: 25px;
}

.wrapper__imageUrl,
.wrapper__imageUrlHiRes {
    display: none;
}

@media (min-width: 1080px) {
    .details {
        grid-template-columns: 400px 1fr;
    }
}